body {
	margin: 0;
	padding: 0;
	font-family: 'Ysabeau', sans-serif;
	font-weight: 500;
}

.header {
	padding: 5px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navegation {
	display: flex;
}

.navegation li {
	padding-right: 20px;
	list-style-type:none;
}

.navegation li a {
	text-decoration: none;
	color: #414141;
	font-weight: 600;
}

.navegation li a:hover {
	cursor:pointer;
	color: rgb(52, 136, 136);
}

a:hover {
	cursor:pointer;
	color: rgb(52, 136, 136);
}

.logo {
	max-height: 70px;
    width: auto;
}

.caja1 {
	background-color: #f7dfc8;
	color: #333;
	padding: 20px;
}

.caja2 {
	background-color: #d4e6f1;
	color: #333;
	padding: 20px;
}

.caja3 {
	background-color: #b2c8d6;
	color: #333;
	padding: 20px;
}

.caja4 {
	background-color: #79a3b1;
	color: #202020;
	padding: 20px;
	text-align: center;
}

h2 {
	font-size: 28px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 10px;
}

p {
	font-size: 16px;
	line-height: 1.5;
	margin-top: 0;
	margin-bottom: 20px;
}